body{
    background-image: url(Assets/home.png) ;   
  }
nav{
  color: aliceblue;
  font-family: 'Roboto', sans-serif ;
  font-weight: bold;
  list-style: none;
  box-sizing: border-box;
  padding: 0px 70px;
  font-size: 200%;
}
nav .logo{
    line-height: 90px;
}
nav ul{
    float: right;  
    line-height: 27px;  
  }
  nav ul li{
    display: inline-block;
    margin: 0 13px;
    
  }
nav ul li a{
  text-decoration: none;
  color: aliceblue;
}
.myimage{
  display: block;
  float: left;
  margin: 170px 129px;
  position: absolute;
  width: 490px;
  height: 67px;
  font-family: 'Roboto';
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}
.resumebutton{
position: absolute;
width: 160px;
height: 50px;
background: #400BD1;
border-radius: 50px;
transform: matrix(1, 0, 0, -1, 200, -260);
}
.resumebutton a h4{
  transform: matrix(1, 0, 0, -1, 22, -36);
  text-decoration: none;
  color: aliceblue;
}
