/* Home Page*/
body{
    background-color: #ffffff;  
  }
nav{
  color: #2c3136;
  font-family: 'Roboto', sans-serif ;
  font-weight: bold;
  list-style: none;
  box-sizing: border-box;
  padding: 0px 70px;
  font-size: 200%;
}
nav .logo{
    line-height: 120px;
}
nav ul{
    float: right;  
    line-height: 27px;  
  }
  nav ul li{
    display: inline-block;
    margin: 0 13px;
    
  }
nav ul li a{
  text-decoration: none;
  font-weight: 600;
  line-height: 1.6em;
  color: #656d78;
}
.myimage{
  display: inline-block;
  margin: 150px 78px;
  position: absolute;
  width: 490px;
  height: 67px;
  font-family: 'Roboto';
  font-size: 32px;
  line-height: 38px;
  
  color: #2c3136;
}
.myimage img{
  max-width: 580px;
  margin: -100px 0px;
  transform: matrix(1, -0, 0, 1,620, 0);
}
.myimage h4{
  transform: matrix(1, -0, 0, 1, 1, -50);
}
.resumebutton{
  position: absolute;
  width: 160px;
  height: 50px;
  background: #434a54;
  border-radius: 50px;
  transform: matrix(1, 0, 0, -1, -0, -250);
  }
.resumebutton a h4{
  transform: matrix(1, 0, 0, -1, 22, -36);
  text-decoration: none;
  color: #ffffff;
}

/* Home Page End*/

