body{
  background-color:  #282C35 ;
}
main{
  text-align: center;
  color: #ffffff;
}
h1{
  font-family: Montserrat;
  text-align: center;
  color: #ffffff;
}

h2{
  font-family: Montserrat;
  color: #ffffff;
}
h3{
  font-family: Montserrat;
  color: #ffffff;
}
p{
  font-family: Fira sans;
  color: #ffffff;
}
ul{
  font-family: Roboto;
  color: #ffffff;
}
a{
  font-family: Roboto;
  color: #ffffff;
}
nav{
  font-family: Montserrat;
  text-align: right;
  color: #ffffff;
}
img{
  width: 90%;
  display: inline-block;
  overflow: auto;
}
