body{
    background-image: url(images/home.png) ;   
  }
nav{
    color: aliceblue;
    font-family: roboto, sans-serif ;
    font-weight: bold;
    list-style: none;
    box-sizing: border-box;
    padding: 0px 70px;
    font-size: 200%;
}
nav .logo{
    line-height: 90px;
}
nav ul{
    float: right;  
    line-height: 27px;  
  }
  nav ul li{
    display: inline-block;
    margin: 0 13px;
    
  }
nav ul li a{
    text-decoration: none;
    color: aliceblue;
}
.myimage{
  display: block;
  float: left;
  margin: 170px 129px;
}
/*  */