body{
    background-image: url(images/home.png) ;   
  }
nav{
    color: whitesmoke;
    font-family: sans-serif;
    font-weight: bold;
    list-style: none;
    box-sizing: border-box;
    padding: 0px 70px;
    font-size: larger;
}
nav .logo{
    line-height: 90px;
}
nav ul{
    float: right;  
    line-height: 60px;  
  }
  nav ul li{
    display: inline-block;
    margin: 0 13px;
  }