nav ul {
  padding: 0;
  margin: 0;
}
nav ul a{
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: Montserrat;
}
nav{
  background: #ffffff;
  height: 75px;
  width: 100%;
}
nav .logo{
  color: black;
  line-height: 80px;
  padding: 0px 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 75px;
  margin: 0 5px;
}
nav ul li a{
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a.hover{
  background: #000000;
  transition: .5s;
}
body{
  background-color:  #282C35 ;
  
}

h1,h2,h3{
  font-family: Montserrat;
  text-align: center;
  color: #ffffff;
}
p{
  font-family: Fira sans;
  color: #ffffff;
  text-align: center;
}
img{
  width: 90%;
  display: inline-block;
  overflow: auto;
}
div a{
  font-size: large;
  font-family: Fira sans;
  color: #ffffff;
}
div{
  text-align: center;
}
div span{
  font-size: small;
  font-family: Fira sans;
  color: #ffffff;
}